include ../mixins/sub-menu.pug
div Header
header.header
  .container
    .row.align-items-center
      .col-2
        .inner-logo
          a(href="/")
            img(src=setting.logo? setting.logo : "", alt="Logo")
          br 
          span #{setting.websiteName}
          br 
          span Địa chỉ: #{setting.address} 
          br
          span Số điện thoại: #{setting.phone}

      .col-6
        form(
          action="/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Tìm
      .col-4
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              a(href="/product") Sản phẩm
              if(layoutCategoryProducts)
                +sub-menu(layoutCategoryProducts)
            li 
              a(href="/cart") <i class="fa-solid fa-cart-shopping"></i> (#{cartTotal})
            
            if(user)
               li  
                 a(href=`/profile`) #{user.fullName} 
                 br
                 a(href="/user/logout") Đăng xuất 
            else 
              li 
                a(href="/user/login") Đăng nhập
              
              li  
                a(href="/user/register") Đăng ký
              
            
              