extends ../../layout/default.pug
block main
  if(user.permissions.includes('role_per'))
    h1(class="mb-4") Phân quyền
    if(records)
      div(class="text-right")
        button(
          type="submit"
          class="btn btn-primary mb-3"
          button-submit=`${prefixAdmin}/role/permissions`
        ) Cập nhật

      table(
        class="table table-hover table-sm"
        table-permissions
      )
        thead
          tr
            th Tính năng
            each item in records
              th(
                class="text-center"
                role-id=item.id
              ) #{item.title}
        tbody
          tr
            td(colspan="4")
              b Tài khoản Admin
          tr
            td Xem
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id 
                  data-name="accadmin_view"
                  checked=(item.permissions.includes("accadmin_view") ? true : false)
                )
          tr
            td Thêm mới
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="accadmin_create"
                  checked=(item.permissions.includes("accadmin_create") ? true : false)
                )
          tr
            td Chỉnh sửa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="accadmin_edit"
                  checked=(item.permissions.includes("accadmin_edit") ? true : false)
                )
          tr
            td Xóa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="accadmin_delete"
                  checked=(item.permissions.includes("accadmin_delete") ? true : false)
                )
          
          tr
            td(colspan="4")
              b Quản lí đơn hàng
          tr
            td Xem
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id 
                  data-name="order_view"
                  checked=(item.permissions.includes("order_view") ? true : false)
                )
          tr
            td Xóa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="order_delete"
                  checked=(item.permissions.includes("order_delete") ? true : false)
                )

          tr
            td(colspan="4")
              b Sản phẩm
          tr
            td Xem
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id 
                  data-name="products_view"
                  checked=(item.permissions.includes("products_view") ? true : false)
                )
          tr
            td Thêm mới
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="products_create"
                  checked=(item.permissions.includes("products_create") ? true : false)
                )
          tr
            td Chỉnh sửa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="products_edit"
                  checked=(item.permissions.includes("products_edit") ? true : false)
                )
          tr
            td Xóa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="products_delete"
                  checked=(item.permissions.includes("products_delete") ? true : false)
                )
          tr
            td(colspan="4")
              b Danh mục sản phẩm
          tr
            td Xem
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id 
                  data-name="products-category_view"
                  checked=(item.permissions.includes("products-category_view") ? true : false)
                )
          tr
            td Thêm mới
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="products-category_create"
                  checked=(item.permissions.includes("products-category_create") ? true : false)
                )
          tr
            td Chỉnh sửa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="products-category_edit"
                  checked=(item.permissions.includes("products-category_edit") ? true : false)
                )
          tr
            td Xóa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="products-category_delete"
                  checked=(item.permissions.includes("products-category_delete") ? true : false)
                )
          tr
            td(colspan="4")
              b Nhóm quyền
          tr
            td Xem
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id 
                  data-name="role_view"
                  checked=(item.permissions.includes("role_view") ? true : false)
                )
          tr
            td Thêm mới
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="role_create"
                  checked=(item.permissions.includes("role_create") ? true : false)
                )
          tr
            td Chỉnh sửa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="role_edit"
                  checked=(item.permissions.includes("role_edit") ? true : false)
                )
          tr
            td Xóa
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="role_delete"
                  checked=(item.permissions.includes("role_delete") ? true : false)
                )
          tr
            td Phân quyền
            each item in records
              td(class="text-center")
                input(
                  type="checkbox" 
                  data-id=item.id
                  data-name="role_per"
                  checked=(item.permissions.includes("role_per") ? true : false)
                )
          