extends ../../layout/default.pug
include ../../mixins/box-header.pug
block main
  .container.my-3
    .row
      .col-6.mx-auto
        +box-head(pageTitle)

        form(
          action="/user/password/otp?_method=PATCH"
          method="POST"
        )
          div(class="form-group")
            label(for="email") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              value=email
              readonly
              required
            )
          div(class="form-group")
            label(for="otp") Nhập mã 
            input(
              type="number"
              class="form-control"
              id="otp"
              name="otp"
              required
            )
          //- div(class="form-group")
          //-   button(link=`/user/password/resetOtp/${email}`
          //-          class='resetOtp'
          //-   )  Gửi lại mã
        
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Gửi