extends ../../layout/default.pug

block main
    .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") Đổi mật khẩu 
        form(
          action=`${prefixAdmin}/profile/changepassword?_method=PATCH`
          method="POST"
        )
          div(class="form-group")
            label(for="passwordOld") Nhập mật khẩu cũ
            input(
              type="password"
              class="form-control"
              id="passwordOld"
              name="passwordOld"
              required
            )
          div(class="form-group")
            label(for="passwordNew") Mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="passwordNew"
              name="passwordNew"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đổi mật khẩu